# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "4600fc0d82964628484efb995870817d"
name = "3D Store Creator"
application_url = "https://mersivx-shopify-admin-app.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
# Required scopes for reading shop data
scopes = "read_products,read_orders,read_discounts"

[auth]
redirect_urls = [
  "https://mersivx-shopify-admin-app.onrender.com/auth/callback",
  "https://mersivx-shopify-admin-app.onrender.com/auth/shopify/callback",
  "https://mersivx-shopify-admin-app.onrender.com/api/auth"
]
